<section class='flex flex-col flex-wrap justify-start items-center min-h-screen bg-gradient-to-r from-blue-500 to-purple-500 text-white p-8 gap-10'>
  <p class="hidden" id="target_url">{{targetUrl}}</p>
  <div class='flex flex-col gap-5 mt-5 sm:gap-10 sm:mt-20 w-[90%] lg:w-auto bg-white shadow-2xl rounded-xl p-8 text-gray-900'>
    <button id="logout_button" class='p-3 bg-red-500 text-white rounded-full font-bold text-xl hover:bg-red-700 transition duration-300'>로그아웃</button>
    <a href="/auth/change-password" class='text-center p-3 bg-green-500 text-white rounded-full font-bold text-xl hover:bg-green-700 transition duration-300'>비밀번호 변경</a>
    <h1 class='text-2xl sm:text-3xl font-extrabold'>URL 줄이기</h1>
    <div class='flex flex-col sm:flex-row gap-3'>
      <input
        type='text'
        class='w-full flex-1 sm:w-64 p-3 border border-gray-300 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500'
        placeholder='URL을 입력하세요.'
        id='url'
      />
      <button id="shorten_button" class='p-3 bg-blue-500 text-white rounded-full hover:bg-blue-700 transition duration-300'>줄이기</button>
    </div>
    <div id="original_shorten"></div>
    <div class="overflow-x-auto max-h-[500px] overflow-y-scroll mt-5">
      <table class="min-w-full divide-y divide-gray-300">
        <thead class="bg-gray-100">
          <tr>
            <th scope="col" class="px-4 py-2 text-left text-xs font-medium text-gray-700 uppercase tracking-wider">
              원본 URL
            </th>
            <th scope="col" class="px-4 py-2 text-left text-xs font-medium text-gray-700 uppercase tracking-wider">
              줄인 URL
            </th>
            <th scope="col" class="px-4 py-2 text-left text-xs font-medium text-gray-700 uppercase tracking-wider">
            </th>
            <th scope="col" class="px-4 py-2 text-left text-xs font-medium text-gray-700 uppercase tracking-wider">
              클릭 횟수
            </th>
            <th scope="col" class="px-4 py-2 text-left text-xs font-medium text-gray-700 uppercase tracking-wider">
            </th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-300">
          {{#each shortenedURLs}}
            <tr>
              <td class="px-4 py-2 whitespace-nowrap text-sm text-gray-700 max-w-xs overflow-x-scroll">
                <a href={{this.originalURL}} class='text-blue-500 underline hover:text-blue-700 transition duration-300'>{{this.originalURL}}</a>
              </td>
              <td class="px-4 py-2 whitespace-nowrap text-sm text-gray-700">
                <button type="button" class="cursor-pointer text-blue-500 underline hover:text-blue-700 transition duration-300" onclick='copyToClipboard(event, "{{targetUrl}}{{this.shortenedURL}}")'>{{this.shortenedURL}}</button>
              </td>
              <td class="px-4 py-2 whitespace-nowrap text-right text-sm font-medium cursor-pointer">
                <a class="text-red-600 hover:text-red-900 transition duration-300" onclick='removeArticle(event, "{{this.id}}")'>삭제하기</a>
              </td>
              <td class="px-4 py-2 whitespace-nowrap text-sm text-gray-700 text-center">
                {{this.clickCount}}
              </td>
              <td class="px-4 py-2 whitespace-nowrap text-right text-sm font-medium cursor-pointer">
                <a href="/stat/{{this.shortenedURL}}" class="text-indigo-600 hover:text-indigo-900 transition duration-300">자세히 보기</a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  <div class="rounded-lg bg-white text-black flex flex-col justify-center p-4">
    <button type="button" id="register-button" class="bg-gradient-to-r from-blue-500 to-purple-500 rounded-lg text-white p-2 font-medium text-lg">
      회원가입 URL 생성하기
    </button>
    <p id="registerUrl"></p>
  </div>
</section>


<script>
  let url = document.getElementById('url');
  let button = document.getElementById('shorten_button');
  let targetUrl = document.getElementById('target_url').innerText;
  let logoutButton = document.getElementById('logout_button');

  let shortenedStats = document.getElementsByClassName('stats');

  let shortenedUrls = document.getElementsByClassName('shorten-url');

  for (let i = 0; i < shortenedUrls.length; i++) {
    shortenedUrls[i].addEventListener('click', function() {
      copyToClipboard(event, shortenedUrls[i].innerText);
    });
    shortenedUrls[i].addEventListener('touchstart', function() {
      copyToClipboard(event, shortenedUrls[i].innerText);
    });
  }

  function copyToClipboard(event, url) {
    event.preventDefault(); // Prevent default anchor behavior
    try {
        navigator.clipboard.writeText(targetUrl + url).then(function() {
        alert('URL이 복사되었습니다.');
      }, function(err) {
        alert('URL 복사에 실패했습니다.');
      });
    } catch (err) {
      window.open(targetUrl + url, '_blank');
    }

  } 

  function removeArticle(event, id) {

    event.preventDefault();

    const ans = confirm('정말 삭제하시겠습니까?');

    if (!ans) {
      return;
    }
    fetch(`/${id}`, {
      method: 'DELETE',
    })
      .then((res) => res.json())
      .then((data) => {
        alert(data);
      }).catch((data) => {
        alert(data);
      }).finally(() => {
        location.reload();
      });
  }

  function shortenUrl() {
    if (!url.value) {
      alert('URL을 입력하세요.');
      return;
    }

    fetch('/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ url: url.value }),
    })
      .then((res) => res.json())
      .then((data) => {
        const { originalURL, shortenedURL } = data;
        document.getElementById('original_shorten').innerHTML = `
          <div class='flex flex-col gap-5 p-8 bg-white shadow-2xl rounded-xl'>
              <div>
                  <span class='font-extrabold text-gray-900'>원본 URL:</span>
                  <a href='${originalURL}' target='_blank' class='text-blue-500 underline hover:text-blue-700 transition duration-300'>${originalURL}</a>
              </div>
              <div>
                  <span class='font-extrabold text-gray-900'>줄인 URL:</span>
                  <a class="cursor-pointer text-blue-500 underline hover:text-blue-700 transition duration-300" onclick='copyToClipboard(event, "${shortenedURL}")'>${targetUrl}${shortenedURL}</a>
              </div>
          </div>
        `;
      })};

    function logout() {
      location.href = '/auth/logout'
    }
  
    button.addEventListener('click', shortenUrl);
    logoutButton.addEventListener('click', logout);

    const registerButton = document.getElementById('register-button');
    const registerUrl = document.getElementById('registerUrl');

    registerButton.addEventListener('click', async () => {
      const res = await fetch('/register/createurl', {
        method: 'GET',
      });
      const data = await res.json();
      registerUrl.innerText = `${targetUrl}register/url/${data.url}`;
    });

</script>